@keyframes close {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -142px;
  }
}

@keyframes open {
  0% {
    background-position-x: -142px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
